.body {
  background-color: bisque;
}
.content {
  text-align: center;
  color: bisque;
}
.navbar {
  padding-left: 500px;
  display: flex;
  text-align: justify;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: goldenrod;
  max-width: 500px;
}
.navbar .links {
  margin-left: auto;
  padding: 20px;
}
.navbar a:hover {
  color: gold;
  background-color: rgb(217, 223, 135);
}
.header {
  margin-left: 450px;
  color: rgb(199, 196, 39);
}
.home {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  align-items: center;
  text-align: center;
  background-color: rgb(226, 228, 153);
  color: chocolate;
  border-radius: 10px;
}
.blog-preview: {
  padding: 10px;
  margin: 10px;
}
.blog-preview:hover {
  box-shadow: 5px 5px 5px rgba(145, 47, 47, 0.1);
}
